header {
    background-image: url(../images/image.png);
    background-size: cover;
    background-position: center;

    .foreground {
        height: 100vh;
        backdrop-filter: blur(2px);
    }
}